@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    h1{
        font-family: 'Lato', sans-serif; 
        font-size: 60px;
    }
    h2{
        font-family: 'Lato', sans-serif;
       
    }
}
    h3{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
}
#first-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#map{
   width:100%;
    margin:40px 0px 40px 0px;
    align-content: center;
}
#second-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#third-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#fourth-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#fifth-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#sixth-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#seventh-image{
    width:100%;
    margin:40px 0px 40px 0px;
}
#eighth-image{
    width:100%;
    margin:40px 0px 40px 0px;
}

p{
    font-family: 'Playfair Display', serif;
}
#header{
    width:100%;

}

footer {
    font-family: 'Lato', sans-serif;
}
    
    
    
    @media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}
