@media {
    /*Phone styles here*/
  /*This media query targets any screen smaller than 576px wide (see below)*/

#footer {
    background-color:#D5DCF9;
    color:black;
    padding: 20px 0px 20px 20px;
    margin: 20px 0px 0px 0px;
}

h1{
    Font-Family: 'Abril Fatface', Cursive;
    margin: 20px 40px 20px 20px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    font-size: 50px;
    

}

h2{
    Font-Family: 'Poppins', Sans-Serif;
    color:white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px 40px 0px 20px;
    text-align: center
}

h3{
    Font-Family: 'Abril Fatface', Cursive;
    margin: 40px 0px 10px 0px;
    border-bottom: 3px solid darkblue;
    font-size: 30px;
    
}
#title {
    font-weight:bold;
}

#topper {
    background-image: url(pexels-pixabay-41949.jpg);
    background-size:cover;
    background-position: center center;
    text-align: left;
}

#headshot {
    width:100%;
    margin:40px 0px 40px 0px;
    border-radius: 500px;
}

.nav-link{ 
    background-color: #D5DCF9;
     Font-Family: 'Poppins', Sans-Serif;
    background-position: center;
    width:auto;
    
}

.nav-link:hover{ 
    background-color: darkblue;
    Font-Family: 'Poppins', Sans-Serif;
    font-weight:bold;
    color: white;
    text-decoration: underline;
}

.nav{
     background-color: #D5DCF9;
    justify-content: center;
}

.nav a{
    color:black;
    font-size: 20px;
}

button {
    background-color:#D5DCF9;
    color:darkblue;
    Font-Family: 'Poppins', Sans-Serif;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border:none;
    justify-content: center;
    width:300x;
    margin:20px 20px 30px 85px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
     
}

button a{
    color:white;
    text-decoration: none;
}
button:hover {
    background-color:darkblue;
    color:white;
    text-decoration: none;
    
}
    

#title{
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
    line-height: 1.4;
    Font-Family: 'Poppins', Sans-Serif;
}
    
  #jobrow {
        margin-top: 20px;
    }
    
#company {
    font-size:15px;
    font-weight:600;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    font-style: italic;
    Font-Family: 'Poppins', Sans-Serif;
}

#date{
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    Font-Family: 'Poppins', Sans-Serif;
}
    
    #description {
        margin: 0px 0px 0px 0px;
        Font-Family: 'Poppins', Sans-Serif;
    }
    
li {
    font-size:15px;
    font-weight:400;
    padding: 7px;
    Font-Family: 'Poppins', Sans-Serif;
}
    
    ul {
        margin: 0px;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
   #headshot {
    margin:40px 0px 40px 40px;
}
   button {
    width:300x;
    margin-left: 80px;
    margin-right: auto;
    border:none;
     text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    

       
} 
    
        
    h1 {
        font-size:75px; 
         margin: 40px 40px 20px 20px;
        text-align:right;
    }
    
    #description {
        margin: 8px 0px 0px 20px;
    }
    
    h2 {
        text-align: right
    }
    
    
    #title {
     margin: 10px 0px 10px 0px;   
    }
}

@media (min-width: 992px) {
    /*desktop*/
  button {
    width:300x;
    margin-left: 200px;
    margin-right: auto;
     

       
} 
}

